.card {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: black;
}

.card_image {
  height: 280px;
  object-fit: cover;
}